#container > header {
	> nav {
		margin: 36px 0;
		background: #fff;
		text-align: center;
		ul {
			// remove gaps from inline-block elements
			font-size: 0;
			> li {
				display: inline-block;
				margin: 0 7px;
				a {
					color: #000;
					font: 14px "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
					text-decoration: none;
					text-transform: uppercase;
					&:hover {
						color: #FF9912;
					}
				}
			}
		}
	}
}